
<%- include('partials/header') %>


<div class="row justify-content-center">
    <div class="col-4">
        <div class="card mb-3" style='box-shadow: 0px 2px 24px 0px rgba(153, 153, 153, 0.616);'>
            <img src="<%=rest.image%>"style="width:100%;"class="card-img-top" >
            <div class="card-body">
                 <h5 class="card-title"><%=rest.name%></h5>
                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae harum veniam optio fuga sunt! Veritatis adipisci quam quo, at nulla debitis aliquid expedita laborum corporis, officia ad. Ratione, hic rem!</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item">₹<%= rest.price %> /person</li>
                <li class="list-group-item"><img class='mr-1' style='height:20px'src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeoAtAWNWMVQzDJY6LUmdKyCcejaY5xLYqxw&usqp=CAU">Location</li>
                <li class="list-group-item d-flex">
                <form action="/restaurants/<%= rest._id%>" class='mx-auto' method='POST'>
                     <button class='btn btn-success'>Book a Table</button>
                </form>
                
                </li>
  
            </ul>
        
        </div>        
           
    </div>
  
</div>
     


<%- include('partials/footer') %>